@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.testimonies-container {
    margin-top: 35px;
    background-color: none;
    padding-bottom: 2.5%;
}

#testimonies-title {
    text-align: center;
    color: #ddd;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 48px;
    margin-bottom: 20px;
}

.testimonies-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 80px;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 110px;
    justify-items: center;
    background-color: #131e2c;
    border-radius: 50px;
}

.portrait{
    position: relative;
    width: 70%;
    height: 320px;
    display: flex;
    justify-content: center;
}

h4,#comment{
    color: #555;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h4{
    position: absolute;
    top: 20px;
    color: #ddd;
}

#comment{
    font-size: 16px;
    text-align: justify;
    color: #ddd;
}

.images2 {
    width: 50%;
    height: 220px;
    object-fit: cover;
    border-radius: 80% 20% 80% 20% / 30% 70% 30% 70%;
    margin-top: 18%;
}

.comment{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 35px;
}

@media screen and (max-width: 768px) {
    .testimonies-card {
        grid-template-columns: 1fr;
        gap: 40px;
        padding: 20px;
    }

    .portrait {
        width: 100%;
        height: auto;
    }

    .images2 {
        width: 70%;
        height: auto;
        margin-top: 22%;
    }

    .comment {
        flex-direction: column;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
}